@import url('https://fonts.google.com/specimen/Inter');

@media (prefers-color-scheme: dark) {
    
}
:root {
    --header: #20222F;
    --body-color: #1D1F29;
    --card-color: #252B42;
    --card-color-hover: #333A55;
    --btn-bg-color: linear-gradient(45deg, rgba(56,143,231,1) 0%, rgba(64,219,130,1) 100%);
    --main-text-color: #fff;
    --sub-text-color: #8C98C6;
    --circle-position: translateX(0);
}

html[data-theme="light"] {
    --header: #F7F9FF;
    --body-color: #FFF;
    --card-color: #F1F3FA;
    --card-color-hover: #E1E4F0;
    --btn-bg-color: #AEB3CB;
    --main-text-color: #1D1F29;
    --sub-text-color: #63687D;
    --circle-position: translateX(23px);

}
/* reset */
*, *::after {
    margin: 0;
    padding: 0;
}
/* general */
body {
    background-color: var(--body-color);
    position: relative;
    font-family: Inter, sans-serif;
}

body::after {
    content: "";
    height: 245px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: var(--header);
    border-radius: 0 0 20px 20px;
    position: absolute;
}

/* containers - grids */
.container {
    max-width: 1160px;
    margin: auto;
    width: 100%;
}
.row--header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.infos {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.infos-social {
    height: 216px;
    width: 255px;
    margin-top: 2rem;
    background-color: var(--card-color);
    transition: all .3s ease;
}
.infos-social:hover, .overview-infos-card:hover {
    background-color: var(--card-color-hover);
    cursor: pointer;
}

/* header */
header h1 {
    font-size: 2rem;
    padding-top: 2rem;
    color: var(--main-text-color);
    font-weight: bold;
}

header p {
    color: var(--sub-text-color);
    font-weight: bold;
}
.btn-theme--div {
    display: flex;
    align-items: center;
}
.btn-theme--div label {
    color: var(--sub-text-color);
    font-weight: bold;
    background: var(--btn-bg-color);
    border-radius: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-out;
    width: 48px;
    height: 24px;
    z-index: 2;
}

.btn-theme--div label:hover {
    cursor: pointer;
}
.btn-theme--div label::after {
    content: ' ';
    background-color: var(--card-color);
    border-radius: 50%;
    position: absolute;
    top: calc(12px - 9px);
    left: 3px;
    transform: var(--circle-position);
    transition: transform 0.3s linear;
    width: 18px;
    height: 18px;
    z-index: 3;
}
.btn-theme--div input {
	visibility: hidden;
    position: absolute;
	z-index: 2;
}

.btn-theme--text {
    margin-right: 1rem;
}

/* infos */
.info-social--pseudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.info-social--pseudo p {
    margin-left: .5rem;
    color: var(--sub-text-color);
    font-weight: bold;
    font-size: 12px;
}
/* social icons */
.infos-social {
    border-radius: 5px;
}
.infos-social--facebook {
    border-top: 4px solid #178FF5;
}
.infos-social--twitter {
    border-top: 4px solid #1DA1F2;
}
.infos-social--instagram {
    position: relative;
    margin-top: calc(2rem + 3.5px);
}
.infos-social--youtube {
    border-top: 4px solid #C4032B;
}
.infos-social--instagram::before {
    content: '';
    position: absolute;
    top: -3.5px; /* L'épaisseur de la bordure */
    right: 0; bottom: 0; left: 0;
    z-index: -2;
    border-radius: 5px; 
    background-image: linear-gradient(90deg, rgba(253,195,102,1) 0%, rgba(223,72,150,1) 100%);
}

/*fa icons*/
.fa-facebook-square {
    color: #178FF5;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    background-color: #df4896;
    background-image: linear-gradient(0deg, rgba(223,72,150,1) 0%, rgba(238,135,126,1) 50%, rgba(253,195,102,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.fa-youtube {
    color: #C4032B;
}
.fa-facebook-square, .fa-twitter, .fa-instagram, .fa-youtube {
    font-size: 2rem;
}
/* evolution */
.fa-caret-up, .fa-caret-down {
    margin-right: .5rem;
}

.info-social--evolution {
    color: #1EB589;
}
.info-social--downgrade {
    color: #DC414C;
}
.number {
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-text-color);
}
.info-social--followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-social--followers p {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--sub-text-color);
}
.info-social--evolution, .info-social--downgrade {
    font-weight: bold;
    margin-top: 1.3rem;
    text-align: center;
}   

/*Overview*/
.overview h1 {
    font-size: 1.5rem;
    color: var(--main-text-color);
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.overview-infos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px 35px;
}

.overview-infos-card {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    height: 125px;
    justify-self: stretch;
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s ease;
}

.overview-infos-card--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview-infos-card--content:last-child {
    margin-top: 1.5rem;
}
.overview-infos-cards--content__number {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 2rem;
}
.overview-infos-card--content h6 {
    color: var(--sub-text-color);
    font-weight: bold;
    font-size: 1rem;
}

/* Attributions */
.attribution {
    color: #ccc;
    font-size: 1rem;
    text-align: center;
}
.attribution a { color: var(--lightGray); }